*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
.slider{
    max-width: 1000px;
    margin: auto;
    height: 600px;
    position: relative;
    margin-top: 50px;
}
.slider .slider_img{
    width: 100%;
    height: 100%;
}

.slider .slider_img img{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 2s;
}
.slider .slider_img img.active{
    opacity: 1;
}

/* .slider .slider_img img:first-of-type{
    display: block;
} */
.slider .slider_btn{
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.slider .slider_btn .btn{
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #fff;
    transition: 2s;
    font-size: 20px;
}

.slider .slider_btn .btn:hover{
    background: lightgray;
    color: crimson;
}